node_modules
.env

#Technologies I'll be using here

#MERN Stack, mongoDB, express, react, node

# Front End:
# Material UI
# Nivo for charting data
# Redux toolkit for state management 
# Redux Query for making API calls

# Back End:
# Node.js
# Express JS as our backend Framework
# Mongoose for managing mongoDB